<div class="container">
    <h1>EDIT POST</h1>
        <div class="row my-3 mx-auto">
          <%= form_with model: @post, local: true do |f| %>
            <h4>TEXT</h4>
            <%= f.text_field :text,size:50 %>
            <h4>POST IMAGE</h4>
            <%= f.attachment_field :post_images_images, multiple: true %>
            <%= f.submit '保存' %>
          <% end %>
        </div>
<div class="row">
 <% if @post.errors.any? %>
 <%= @post.errors.count %>件のエラーが発生しました
 <% @post.errors.full_messages.each do |message| %>
 <%= message %>
<% end %>
<% end %>
<div class="col-md-12 posts_container"style="text-align: center">
<% @post.post_images.each do |image| %>
<%= attachment_image_tag image, :image, :fill, 300, 300, class: "default_image" %>
<% end %>
</div>
</div>



<div class="row my-3">
<table class="table table-striped">
  <thead>
    <tr class="table-info">
      <th scope="col2">user</th>
      <th scope="col2">text</th>



    </tr>
  </thead>
  <tbody>

      <tr>
        <td><%= link_to @post.user.name, user_path(@post.user.id) %>
                    </a></li></td>
        <td><%= @post.text %></td>

        </td>
      </tr>

  </tbody>
</table>
</div>





</div>





