<div class="container" >
  <div class="post_pic" >




<div id="carouselExampleControls" class="carousel slide my-4" data-ride="carousel" data-interval="false">
  <div class="carousel-inner" style="text-align: center">


     <% @post.post_images.first(1).each do |image| %>
       <div class="carousel-item active">
       <%= attachment_image_tag image, :image, :fill, 500, 400, class: "carousel_image" %>

       </div>
       <% end %>

      <% @post.post_images.drop(1).each do |image| %>
    <div class="carousel-item">
       <%= attachment_image_tag image, :image, :fill, 500, 400, class: "carousel_image" %>

       </div>
       <% end %>




  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-botton-custom">&lt;</span>
    <!--<span class="carousel-control-prev-icon" aria-hidden="false"></span>-->
    <!--<span class="sr-only">Previous</span>-->
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-botton-custom">&gt;</span>
    <!--<span class="carousel-control-next-icon" aria-hidden="false"></span>-->
    <!--<span class="sr-only">Next</span>-->
  </a>

</div>
</div>
</div>
</div>



<div class="container" >

  <div class="mapspeace my-4" style="text-align: center">


<script type="text/javascript">
function initMap() {

var test ={lat: <%= @post.latitude %>, lng: <%= @post.longitude %>};
var map = new google.maps.Map(document.getElementById('map'), {
zoom: 15,
center: test
 });
var transitLayer = new google.maps.TransitLayer();
transitLayer.setMap(map);

var contentString = '住所：<%= @post.address %>';
var infowindow = new google.maps.InfoWindow({
content: contentString
                 });


var marker = new google.maps.Marker({
position:test,
map: map,
title: contentString
});

marker.addListener('click', function() {
infowindow.open(map, marker);
});
}
</script>


              <script async defer
                           src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=AIzaSyCfmzjylsHhv2j4fDgS2MypWgSxy3_XX-0&callback=initMap"style="text-align: center">
              </script>

              <style type="text/css">
                #map { height: 300px;
                       width: 100%;
                       text-align: center;
                }
              </style>


              <div id="map"></div>


</div>

</div>




<div class="info">
  <div class="container my-4">
    <div class="row">
      <div class="col-sm">




<td>
      <% if @post.user_id == current_user.id %>
      <%= link_to "POST EDIT", edit_post_path(@post), class: 'btn-warning' %>
      <% end %>
</td>
<table class="table table-striped">
  <thead>
    <tr class="table-info">
     <th scope="col">user</th>
     <th scope="col">name</th>
     <th scope="col">day</th>
     <th scope="col">text</th>
     <th scope="col">commentscount</th>
     <th scope="col">❤️</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= attachment_image_tag @post.user, :profile_image, :fill, 70, 70, fallback: "no-image.jpg", class:"mt-3 rounded-circle"; %></td>
      <td> <%= link_to @post.user.name, user_path(@post.user.id) %></td>
      <td><%= @post.created_at.strftime('%Y/%m/%d') %></td>
      <td> <%= @post.text %></td>
      <td><a href="#comments"><%= @post.post_comments.count %></a></td>
      <td id="favorite-btn_<%= @post.id %>"><%= render "favorites/favorite" , post: @post %></td>
    </tr>
  </tbody>
</table>

</div>
</div>
</div>
</div>


<div class="container my-4">
<div class="row">


<div class="col-sm">
  <h2 class="comment-count"><%= @post.post_comments.count %> comments</h2>
<table class="table table-striped">
  <thead>
    <tr class="table-info">
      <th scope="col2">user</th>
      <th scope="col2">name</th>
      <th scope="col2">comment</th>
      <th scope="col2">day</th>
      <th scope="col2">delete</th>


    </tr>
  </thead>
  <tbody>
    <% @post.post_comments.each do |post_comment| %>
      <tr>
        <td><%= attachment_image_tag post_comment.user, :profile_image, :fill, 50, 50, fallback: "no-image.jpg", class:"mt-3 rounded-circle" %></td>
        <td><%= link_to post_comment.user.name, user_path(post_comment.user) %></td>
        <td><div class="comment-entry"><%= post_comment.comment %></div></td>
        <td><span class="comment-date"><%= post_comment.created_at.strftime('%Y/%m/%d') %></span></td>
        <td><% if post_comment.user == current_user %>
              <%= link_to "delete", post_post_comment_path(post_comment.post.id, post_comment), method: :delete, class: 'btn-danger' %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
</div>





  <%= form_for [@post, @post_comment] do |f| %>
  <div class="container my-4">
    <div class="row">
<div class="col-sm">
  <h3>Comment</h3>
<%= f.text_area :comment, rows:'5', class: "form-control",placeholder: "コメントをここに" %>
   </div>
    </div>
  <%= f.submit "Send", class: "btn btn-lg btn-base-1 mt-20 pu" %>
  <% end %>
  </div>

  </div>
  </div>
  </div>

  <%= render "layouts/footer" %>


