<!DOCTYPE html>
<html>
  <head>
    <title>NEWVERY</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>



  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a>NEWVERY</a>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">

      <% if user_signed_in? %>

               <li>
              <%= link_to posts_path(current_user.id) do %>
                <span class="fas fa-home nav-link text-light" aria-hidden="true">Post</span>
              <% end %>
            </li>

            <li>
              <%= link_to new_post_path do%>
                <span class="fas fa-book-open nav-link text-light" aria-hidden="true"> NewPost</span>
              <% end %>
            </li>

            <li>
              <%= link_to user_path [:id] do %>
                <span class="fas fa-users nav-link text-light" aria-hidden="true"> MyPage</span>
              <% end %>
            </li>


            <li>
              <%= link_to destroy_user_session_path, method: :delete do%>
                <span class="fas fa-sign-out-alt nav-link text-light" aria-hidden="true"> logout</span>
              <% end %>
              </li>

          <% else %>
            <li>
              <%= link_to root_path do%>
                <span class="fas fa-home nav-link text-light" aria-hidden="true">TOP</span>

              <% end %>
            </li>
            <li>
              <%= link_to top_about_path do%>
                <span class="fas fa-link nav-link text-light" aria-hidden="true">About</span>

              <% end %>
            </li>
            <li>
              <%= link_to new_user_registration_path do%>
                <span class="fas fa-user-plus nav-link text-light" aria-hidden="true">Sign Up</span>

              <% end %>
            </li>
            <li>
              <%= link_to new_user_session_path do%><span class="fas fa-sign-in-alt nav-link text-light" aria-hidden="true">Login</span>

            <% end %>
            </li>
          <% end %>

          </ul>
      </div>
    </div>
  </nav>
  </header>

  <body>
   <% if flash[:notice] %>
      <p class="success"><%= flash[:notice] %></p>
    <% end %>



    <%= yield %>
    </body>

    <footer>
      <div class='container'>
        <div class='row'>
           <div class='col-xs-12 col-xs-offset-9'>
               <p>CopyRight Infratop.inc</p>
      </div>
    </div>
  </div>
</footer>

</html>








